/* CONTACTAME PAGE */
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*FIN RESET*/

.body-contactame {
    background-color: #fff4ec;
}

.titulo {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    font-family: "Bebas Neue", sans-serif;
}

.titulo, a {
    text-decoration: none;
    color: black;
}

.body-form {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-body {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(48, 48, 48, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 500px;
}

#success-message {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    align-items: center;
    color: #751b07;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #ffa95e;
    font-size: 30px;
}

label {
    color:#ff8d8d;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #ffedbb;
    border: 2px solid #fff6f4;
    color: #7e7272;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color:  #7e7272;
}

.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: #7e7272;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn {
    font-size: 16px;
    color: #FFFFFF;
    border: 0;
    border-radius: 25px;
    background-color: #FF7F50;
    box-shadow: 0 0 20px rgb(255, 160, 122);
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(255, 99, 71);
}

@media(max-width:991px) {
    .body-form {
        padding: 30px;
    }

    .form-body {
        padding: 50px 30px;
        width: 90%;
    }

    input {
        padding: 15px;
    }
}

/*INDEX/HOMEEEE*/

.h2titulo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: #ffa95e;
    text-align: center;
    margin-bottom: 30px;
}

.datos-x-insertar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para los dados en la página de inicio */

.imagen-dado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    flex-wrap: wrap; /* Permite que los elementos se organicen en varias líneas */
}

.tamanio-dado {
    width: 20%; /* Tamaño inicial como porcentaje del contenedor */
    max-width: 200px; /* Tamaño máximo en píxeles */
    border: 2px solid rgb(211, 211, 211);
    box-shadow: 0 0 20px rgb(148, 148, 148);
    margin: 10px; /* Espacio entre los dados */
}

@media (max-width: 768px) {
    .tamanio-dado {
        width: 30%; /* Reducir el tamaño de los dados en pantallas más pequeñas */
        max-width: 100px; /* Reducir el tamaño máximo en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .tamanio-dado {
        width: 50%; /* Ajustar tamaño para pantallas muy pequeñas */
        max-width: 80px; /* Reducir aún más el tamaño máximo */
    }
}

select {
    padding: 15px 25px;
    border-radius: 28px;
    margin-bottom: 20px;
    background-color: #ffcbbb;
    border: 2px solid #fff6f4;
    color: #7e7272;
    outline: none;
}

.boton-dado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.tirar-dado {
    font-family: "Anton SC", sans-serif;
    padding: 20px 30px 20px 30px;
    font-size: 30px;
}

.resultados {
    
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
    font-family: Arial, Helvetica, sans-serif;
}

.contactame-text {
    text-decoration: none;
    color: #751b07;
    font-family: "Anton SC", sans-serif;
}

p {
    font-family: "Anton SC", sans-serif;
}